@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');





.Flag{
    cursor: pointer;
}
.textSVG{
    font-size: 239px;
    fill: #ffff;
    transform: translate(0.7%, -1%);
}
text#resultSVG {font-size: 300px;transform: translate(-2062px, -128px);}
.textSVG{
    transform: translate(-265px, -128px);
    text-shadow: 11px 13px 2px black;
    font-family: 'Roboto';
    font-weight: bold;
}


.boxACative:hover g > path {
    fill: #ffffff;
    /* transition: 0.1s; */
}

.boxACative >g > path{
    fill: #ef7f1a;
}

.boxACative >g > path.fil1{
    fill: #fff !important;
}


/* Hover Казахстан */
.boxACative:hover g > path.fil2{
 fill: #ef7f1a;
 transition: 0.1s; 
}
.boxACative:hover .REgionTextComponent{
    opacity: 1;
    transition: 0.3s;
}


#obj {
    width: 30px;
    height: 50px;
    background: gray;
}

g.allFlagStylePositionStart {
    pointer-events: none;
}


.REgionTextComponent {
    opacity: 0;
    transition: 0.8s;
}
.activBox{
    transition: 0.8s;
    opacity: 1 !important;
}




/* отдельные стили */
text.textSVG.cityKaliningAD {
    fill: #2b4392;
    text-shadow: none;
    transform: translate(0.6%, -0.4%);
}



text.textSVG.classSevastopal {
    fill: #2b4392;
    text-shadow: none;
    transform: translate(0.6%, -0.4%);
}



text.textSVG.sahalinClass {
    fill: #2b4392;
    transform: translate(0.6%, -1.5%);
    text-shadow: 53px 40px 40px white;
}



text.textSVG.colorBlueBox {
    fill: #2b4392;
    text-shadow: 11px 13px 2px  white;
}

text.textSVG.MaxackalaClass {
    transform: translate(-5%, 1%);
    fill: #2b4392 !important;
    text-shadow: 11px 13px 2px white !important;
}

text.textSVG.vladic {
    transform: translate(-5.5%, 1.4%);
    fill: #2b4392;
    text-shadow: 11px 13px 2px white !important;
}

.boxACative > g > polygon.fil0 {
    fill: #ef7f1a;
}
